[
  (
    entity: 0,
    components: [
      {
        "type": "impostor_schemas::schemas::Name",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Link 1",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Primitive",
        "struct": {
          "shape": {
            "type": "alloc::string::String",
            "value": "cube",
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::ColliderCuboid",
        "struct": {
          "hx": {
            "type": "f32",
            "value": 0.5,
          },
          "hy": {
            "type": "f32",
            "value": 0.5,
          },
          "hz": {
            "type": "f32",
            "value": 0.5,
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::RigidBody",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Dynamic",
          },
        ],
      },
      {
        "type": "bevy_transform::components::transform::Transform",
        "struct": {
          "translation": {
            "type": "glam::f32::vec3::Vec3",
            "struct": {
              "x": {
                "type": "f32",
                "value": 0.0,
              },
              "y": {
                "type": "f32",
                "value": 5.0,
              },
              "z": {
                "type": "f32",
                "value": 0.0,
              },
            },
          },
          "rotation": {
            "type": "glam::f32::sse2::quat::Quat",
            "value": (0.0, 0.0, 0.0, 1.0),
          },
          "scale": {
            "type": "glam::f32::vec3::Vec3",
            "struct": {
              "x": {
                "type": "f32",
                "value": 1.0,
              },
              "y": {
                "type": "f32",
                "value": 1.0,
              },
              "z": {
                "type": "f32",
                "value": 1.0,
              },
            },
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::Restitution",
        "struct": {
          "coefficient": {
            "type": "f32",
            "value": 0.7,
          },
        },
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "impostor_schemas::schemas::Name",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Link 2",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Primitive",
        "struct": {
          "shape": {
            "type": "alloc::string::String",
            "value": "cube",
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::ColliderCuboid",
        "struct": {
          "hx": {
            "type": "f32",
            "value": 0.5,
          },
          "hy": {
            "type": "f32",
            "value": 0.5,
          },
          "hz": {
            "type": "f32",
            "value": 0.5,
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::RigidBody",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Dynamic",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Restitution",
        "struct": {
          "coefficient": {
            "type": "f32",
            "value": 0.7,
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::ImpulseJoint",
        "struct": {
          "parent": {
            "type": "bevy_ecs::entity::Entity",
            "value": 0,
          },
          "joint": {
            "type": "impostor_schemas::schemas::RevolutJoint",
            "struct": {
              "axis": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "local_anchor1": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "local_anchor2": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
            },
          },
        },
      },
    ],
  ),
]