[
  (
    entity: 0,
    components: [
      {
        "type": "impostor_schemas::schemas::Name",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Chasis",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::RigidBody",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Dynamic",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ColliderCuboid",
        "struct": {
          "hx": {
            "type": "f32",
            "value": 1.0,
          },
          "hy": {
            "type": "f32",
            "value": 0.2,
          },
          "hz": {
            "type": "f32",
            "value": 2.0,
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 40.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 4.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 40.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.0, 1.0),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::CollisionGroups",
        "struct": {
          "memberships": {
            "type": "u32",
            "value": 15,
          },
          "filters": {
            "type": "u32",
            "value": 7,
          },
        },
      },
    ],
  ),
  (
    entity: 2,
    components: [
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.70710677, 0.70710677),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::CollisionGroups",
        "struct": {
          "memberships": {
            "type": "u32",
            "value": 8,
          },
          "filters": {
            "type": "u32",
            "value": 15,
          },
        },
      },
      {
        "type": "bevy_hierarchy::components::parent::Parent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 1,
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ColliderCylinder",
        "struct": {
          "half_height": {
            "type": "f32",
            "value": 0.6,
          },
          "radius": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::Restitution",
        "struct": {
          "coefficient": {
            "type": "f32",
            "value": 0.7,
          },
        },
      },
    ],
  ),
  (
    entity: 4,
    components: [
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.70710677, 0.70710677),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::CollisionGroups",
        "struct": {
          "memberships": {
            "type": "u32",
            "value": 8,
          },
          "filters": {
            "type": "u32",
            "value": 15,
          },
        },
      },
      {
        "type": "bevy_hierarchy::components::parent::Parent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 3,
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ColliderCylinder",
        "struct": {
          "half_height": {
            "type": "f32",
            "value": 0.6,
          },
          "radius": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::Restitution",
        "struct": {
          "coefficient": {
            "type": "f32",
            "value": 0.7,
          },
        },
      },
    ],
  ),
  (
    entity: 6,
    components: [
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.70710677, 0.70710677),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::CollisionGroups",
        "struct": {
          "memberships": {
            "type": "u32",
            "value": 8,
          },
          "filters": {
            "type": "u32",
            "value": 15,
          },
        },
      },
      {
        "type": "bevy_hierarchy::components::parent::Parent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 5,
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ColliderCylinder",
        "struct": {
          "half_height": {
            "type": "f32",
            "value": 0.6,
          },
          "radius": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::Restitution",
        "struct": {
          "coefficient": {
            "type": "f32",
            "value": 0.7,
          },
        },
      },
    ],
  ),
  (
    entity: 8,
    components: [
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.70710677, 0.70710677),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::CollisionGroups",
        "struct": {
          "memberships": {
            "type": "u32",
            "value": 8,
          },
          "filters": {
            "type": "u32",
            "value": 15,
          },
        },
      },
      {
        "type": "bevy_hierarchy::components::parent::Parent",
        "tuple_struct": [
          {
            "type": "bevy_ecs::entity::Entity",
            "value": 7,
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ColliderCylinder",
        "struct": {
          "half_height": {
            "type": "f32",
            "value": 0.6,
          },
          "radius": {
            "type": "f32",
            "value": 1.0,
          },
        },
      },
      {
        "type": "impostor_schemas::schemas::Restitution",
        "struct": {
          "coefficient": {
            "type": "f32",
            "value": 0.7,
          },
        },
      },
    ],
  ),
  (
    entity: 1,
    components: [
      {
        "type": "impostor_schemas::schemas::Name",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Wheel 1 1",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::RigidBody",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Dynamic",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 6.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.0, 1.0),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ImpulseJoint",
        "struct": {
          "parent": {
            "type": "bevy_ecs::entity::Entity",
            "value": 0,
          },
          "joint": {
            "type": "impostor_schemas::schemas::RevolutJoint",
            "struct": {
              "axis": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "local_anchor1": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.72,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 2.0,
                  },
                },
              },
              "local_anchor2": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
            },
          },
        },
      },
      {
        "type": "bevy_hierarchy::components::children::Children",
        "tuple_struct": [
          {
            "type": "smallvec::SmallVec<[bevy_ecs::entity::Entity; 8]>",
            "list": [
              {
                "type": "bevy_ecs::entity::Entity",
                "value": 2,
              },
            ],
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Tag",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "LeftWheel",
          },
        ],
      },
    ],
  ),
  (
    entity: 3,
    components: [
      {
        "type": "impostor_schemas::schemas::Name",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Wheel 1 -1",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::RigidBody",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Dynamic",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 6.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.0, 1.0),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ImpulseJoint",
        "struct": {
          "parent": {
            "type": "bevy_ecs::entity::Entity",
            "value": 0,
          },
          "joint": {
            "type": "impostor_schemas::schemas::RevolutJoint",
            "struct": {
              "axis": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "local_anchor1": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": -1.72,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 2.0,
                  },
                },
              },
              "local_anchor2": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
            },
          },
        },
      },
      {
        "type": "bevy_hierarchy::components::children::Children",
        "tuple_struct": [
          {
            "type": "smallvec::SmallVec<[bevy_ecs::entity::Entity; 8]>",
            "list": [
              {
                "type": "bevy_ecs::entity::Entity",
                "value": 4,
              },
            ],
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Tag",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "RightWheel",
          },
        ],
      },
    ],
  ),
  (
    entity: 5,
    components: [
      {
        "type": "impostor_schemas::schemas::Name",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Wheel -1 1",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::RigidBody",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Dynamic",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 6.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.0, 1.0),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ImpulseJoint",
        "struct": {
          "parent": {
            "type": "bevy_ecs::entity::Entity",
            "value": 0,
          },
          "joint": {
            "type": "impostor_schemas::schemas::RevolutJoint",
            "struct": {
              "axis": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "local_anchor1": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.72,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": -2.0,
                  },
                },
              },
              "local_anchor2": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
            },
          },
        },
      },
      {
        "type": "bevy_hierarchy::components::children::Children",
        "tuple_struct": [
          {
            "type": "smallvec::SmallVec<[bevy_ecs::entity::Entity; 8]>",
            "list": [
              {
                "type": "bevy_ecs::entity::Entity",
                "value": 6,
              },
            ],
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Tag",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "LeftWheel",
          },
        ],
      },
    ],
  ),
  (
    entity: 7,
    components: [
      {
        "type": "impostor_schemas::schemas::Name",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Wheel -1 -1",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::RigidBody",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "Dynamic",
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Transform",
        "tuple_struct": [
          {
            "type": "bevy_transform::components::transform::Transform",
            "struct": {
              "translation": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 6.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "rotation": {
                "type": "glam::f32::sse2::quat::Quat",
                "value": (0.0, 0.0, 0.0, 1.0),
              },
              "scale": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 1.0,
                  },
                },
              },
            },
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::ImpulseJoint",
        "struct": {
          "parent": {
            "type": "bevy_ecs::entity::Entity",
            "value": 0,
          },
          "joint": {
            "type": "impostor_schemas::schemas::RevolutJoint",
            "struct": {
              "axis": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 1.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
              "local_anchor1": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": -1.72,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": -2.0,
                  },
                },
              },
              "local_anchor2": {
                "type": "glam::f32::vec3::Vec3",
                "struct": {
                  "x": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "y": {
                    "type": "f32",
                    "value": 0.0,
                  },
                  "z": {
                    "type": "f32",
                    "value": 0.0,
                  },
                },
              },
            },
          },
        },
      },
      {
        "type": "bevy_hierarchy::components::children::Children",
        "tuple_struct": [
          {
            "type": "smallvec::SmallVec<[bevy_ecs::entity::Entity; 8]>",
            "list": [
              {
                "type": "bevy_ecs::entity::Entity",
                "value": 8,
              },
            ],
          },
        ],
      },
      {
        "type": "impostor_schemas::schemas::Tag",
        "tuple_struct": [
          {
            "type": "alloc::string::String",
            "value": "RightWheel",
          },
        ],
      },
    ],
  ),
]
